<ion-view view-title="Bro Message">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img class="img-label {{message.bro.code}}">
                <h2>{{ message.sender.name }}</h2>
                <p><strong>{{ message.bro.name }}</strong></p>
            </div>
            <div class="item item-body">
                <h1 class="text-center">Bro Back!</h1>
                <div ng-include="'templates/bro-list.html'"></div>
            </div>
        </div>
    </ion-content>
</ion-view>
