<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Dashboard" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

    <ion-tab title="Bro Now" icon-off="ion-man" icon-on="ion-man" ui-sref="tab.newMessage">
        <ion-nav-view name="tab-message"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Bros" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
      <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

</ion-tabs>
