em,i{
    font-style:italic;
}

.loading svg {
    stroke: #ffffff;
}

.img-label {
    height: 50px;
    width: 50px;
    display: inline-block;
}

.single-bro {
    height: 150px;
}

.bro1 {
    background: #387ef5;
}

.bro2 {
    background: #ff363d;
}

.bro3 {
    background: #ffc14f;
}

.newBro h1 small {
    font-size: 0.4em;
}

h2 small {
  font-size: 0.8em;
}

